
h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h5 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}
#headerLesson {
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
}

#end {
    weight: 900; 
    font-family:'Times New Roman', Times, serif;
    text-align: center;

}
