
h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h5 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}
#headerLesson {
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
}

#end {
    weight: 900; 
    font-family:'Times New Roman', Times, serif;
    text-align: center;

}

body{
    background-image:url('./images/backg.jpeg')

}
#begin {
    font-family:'Times New Roman', Times, serif;
    background-color: #FFFFFF;
    text-align: center;
    border: 5px inset black;
}
.lesson{
    border: 10px inset #ffffff;
    padding: 1.5em 1.5em 1.5em 1.5em;
   
    background-image:url('./images/backg.jpeg')
}
.lesson-header {
    weight: 900;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: #FFFFFF;
}
.code{
    border: 1.8px solid black;
    padding: 1.5em 1.5em 1.5em 1.5em;
    background-color: #FFFFFF;

}
.doc-name {
    text-align: center; 
    padding: 1.5em 1.5em 1.5em 1.5em;
    background-color: #FFFFFF;
}
.section-div {
    font-size: 8em;

}
.section-header {
    color: #ffffff;
}
